:root {
    --lightCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

body {
    margin: 0 2% 0 2%;
    background-color: var(--darkBlue);
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

.container-fluid {
    height: 100vh !important;
}

.adviceCard {
    background-color: var(--darkGrayishBlue);
    min-width: 350px;
    max-width: 600px;
}

.pTitle {
    margin-top: 30px;
    color: var(--neonGreen);
    font-size: 12px;
    letter-spacing: 2px;
}

.adviceP {
    color: white;
    margin: 20px 20px;
    font-size: 28px;
    font-weight: 800;
}

.divider {
    margin: 40px 0px 10px 0px;
}

.generateBtn {
    background-color: var(--neonGreen);
    border: 0;
    height: 55px;
    width: 55px;
    position: relative;
    top: 25px;
}

.attribution { 
    margin-top: 50px;
    font-size: 11px; 
    text-align: center;
    color: white;
}

.attribution a { 
    color: white; 
}

.mobile {
    display: none;
}


.hideForNow {
    display: none;
}

@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .adviceCard {
        width: 90vw;

    }

}